# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Node
node_modules/
dist/
.DS_Store
.env
.env.local
.env.production

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Logs
*.log

# Environment
application-local.properties

# Build
*.jar
*.war

# Maven wrapper
.apache-maven/
maven.zip
apache-maven-*/
